@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100;
	min-height: 100vh;
	background-color: #2e2e2e;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

header {
	text-align: center;
}
#rules-displayer {
	color: #fff;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1rem;
	z-index: 99;
	cursor: pointer;
}
#rules {
	display: flex;
	background-color: #2e2e2e;
	height: 100%;
	width: 0%;
	overflow: hidden;
	position: absolute;
	text-align: left;
	justify-content: center;
	transition: width 0.3s ease-in-out;
}
#rules ul {
	width: 70%;
	list-style: none;
	padding: 0px 30px;
}
ul li {
	margin-bottom: 15px;
}
ul li p {
	font-weight: 600;
}
.tips {
	color: #ff0505;
	font-style: italic;
}

/* main {
	width: 100%;
} */
main article,
main .game {
	display: flex;
	width: 70%;
	margin: 0 auto;
	flex-direction: column;
}
.inactive {
	display: none;
}

.ready {
	font-size: 2rem;
	text-align: center;
}

.indice {
	padding: 20px;
}
.first.indice {
	width: 100%;
}
.indice ul {
	margin: 0;
	padding: 0;
}

input {
	padding: 5px 5px;
	/* width: 100%; */
}
button {
	background-color: #226daa;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 2px;
	cursor: pointer;
	/* width: 100%; */
	font-weight: 600;
}

#form-indice {
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	/* flex-wrap: wrap; */
	padding: 20px;
	margin: 0 auto;
	align-items: center;
	row-gap: 10px;
}
#form-indice p,
#form-indice h2 {
	width: 100%;
	text-align: center;
}
#error {
	color: crimson;
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
